page-issues {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
 }
 
 .etNumber{
     color: #3c89c3;
 }

 .bottomNote{
    font-size: 12px;
    align-self: flex-start;
    color: gray;
 }
 
 .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin-left: 0.3em;
 }

 .item{
   margin-left: -0.4em;
 }
 .item-inner{
     margin-top: -0.4em;
 }
}
